.bg-nav{
  background-color: #2C3D50;
  z-index:3333;
}

.bg-site{
    background-color: #1CBB9D;
}

.w-90{
    width:90%;
}


nav a{
    color:#fff !important;
    text-transform: uppercase;
    font-weight:bolder;
}

.nav-link,.menuIcon{
    padding:1rem 1.2rem !important;
    display: inline-block;
}
.menuIcon{
    padding:.5rem !important;
    display: inline-block;
}

.menuIcon span{
    margin-bottom:2px;
    display: inline-block;
}
.nav-link.active ,.menuIcon{
    background-color: #1CBB9D;
    border-radius: .5rem;
}

.nav-link:hover{
    color:#1CBB9D !important;
}

.starIcon::before,.starIcon::after{
    content:'';
    background-color: #fff;
    height:5px;
    width:110px;
    position: absolute;
    border-radius:.2rem;
    top:25%;
}
.starIcon::before{
   left:50px;
}

.starIcon::after{
    right:50px;
}

.sectionStar::before,.sectionStar::after{
    background-color: #2C3D50;
}
.sectionStar i {
    color:#2C3D50 !important;
}

.portfolioCard{
    opacity:0;
}
.portfolioCardParent:hover .portfolioCard{
    opacity:.8;
}

/* @media screen and (min-width:768px) {

    .starIcon::before,.starIcon::after{
        width:150px;
    }

} */

@media screen and (min-width:992px) {
    .parent{
        width:80%;
    }

    /* .starIcon::before,.starIcon::after{
        width:170px;
       
    } */

}