.bg-nav{
  background-color: #2C3D50;
  z-index:3333;
}

.bg-site{
    background-color: #1CBB9D;
}

.text-site{
    color: #1CBB9D;
}

.w-90{
    width:90%;
}


nav a{
    color:#fff !important;
    text-transform: uppercase;
    font-weight:bolder;
}

.nav-link,.menuIcon{
    padding:1rem 1.2rem !important;
    display: inline-block;
}
.menuIcon{
    padding:.5rem !important;
    display: inline-block;
}

.menuIcon span{
    margin-bottom:2px;
    display: inline-block;
}
.nav-link.active ,.menuIcon{
    background-color: #1CBB9D;
    border-radius: .5rem;
}

.nav-link:hover{
    color:#1CBB9D !important;
}

.starIcon::before,.starIcon::after{
    content:'';
    background-color: #fff;
    height:5px;
    width:110px;
    position: absolute;
    border-radius:.2rem;
    top:25%;
}
.starIcon::before{
   left:50px;
}

.starIcon::after{
    right:50px;
}

.sectionStar::before,.sectionStar::after{
    background-color: #2C3D50;
}
.sectionStar i {
    color:#2C3D50 !important;
}

.portfolioCard{
    opacity:0;
}
.portfolioCardParent:hover .portfolioCard{
    opacity:.8;
}

.w-65{
    width:65%;
}
.slideCard{
    z-index:9999;
    overflow: scroll;
    height: 100vh;
    margin-top:0px;
}

.contactWidth{
    width:90%
}

.form-control{
    border:0;
}
.form-control::placeholder{
    font-size: 1.4rem;
    font-weight: 400;
}

.form-control:focus{
    box-shadow: none;
}

.borderBottom{
    border-bottom:.5px solid #ccc;
}

.label{
    transform: translateY(110%);
    transition:transform 1s;
    opacity: 0;
}

/* .borderBottom:hover .label{
    transform: translateY(0%);
    opacity: 1;
    display: inline-block;
} */

@media screen and (min-width:992px) {
    .parent{
        width:80%;
    }

    .slideWidth{
        width:70%;
    }
   
    .contactWidth{
        width:60%
    }
    
}